body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	color: #373636;
	background-color: #ffffff;
	font-weight: 100;
}

header{
	position: relative;
	height: 800px;
	width: 100%;
}
header .top{
	position: absolute;
	height: 800px;
	width: 100%;
	background: rgba(154, 3, 31, 0.8);
	text-align: center;
	margin: auto;
	color: #ffffff;
}
header .top .menu-bar{
	margin-top: 26px;
	display: inline-block;
	margin-left: 75%;
}
header .top .logo{
	margin: 0 auto;
	margin-top: 155px;
	margin-bottom: 110px;
	/*opacity: 0.8;*/ 
}
header .top .slogan{
		margin: 0 auto;
	}
		header .top .slogan>p{
			font-size: 40px;
			margin: 0
		}
		header .top .slogan>span{
			font-size: 16px;
		}
header .top .btn{
	margin-top: 90px;
}
header .top .btn .btn-registration, header .top .btn .btn-try{
	display: inline-block;
	width: 150px;
	margin: 0 55px;
}
header .top .btn>a{
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50px;
	padding: 15px;
    font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
header .top .btn>a:hover{
	color: #d60142;
	background-color: #ffffff;
	transition: ease-out background-color 350ms;
}
header .is_overlay{ display: block; width: 100%; height: 800px; }
#trailer {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}

#trailer > video {
	position: relative;
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 800px;
	width: auto; 
}
/*open menu */
header .header-menu{
	background: #bd003a;
	width: 100%;
	height: 800px;
	position: absolute;
	display: none;
}
header .header-menu .main-menu {
	width: 180px;
	padding: 0;
	list-style: none;
	margin: auto;
	position: absolute;
	left: 43%;
	top: 34%;
}

header .header-menu .main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 13px 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    transition: ease-out color 250ms;
    transition: ease-out background-color 150ms;   
}

header .header-menu .main-menu a:hover {
    background: #ffffff;
    color: #bd003a;
}
header .header-menu button{
	padding: 3px;
	width: 23px;
	height: 23px;
	font-size: 20px;
	background-color: #bd003a;
	color: #ffffff;
	border: none;
	margin-top: 26px;
	display: inline-block;
	margin-left: 85%;
	cursor:pointer
}
header .header-menu .menu-wrapper>img{
	position: absolute;
    left: 37%;
}
/* END open menu */
/* scroll menu*/
nav {
	width: 100%;
	height: 80px;
	margin: 0;
	overflow: hidden;
	background-color: #bd003a;
	position: relative;
	display: none;
}

#scroll-menu.fixed {
	position:fixed;
	top:0; left:0;
	width:100%;
	z-index: 100;
	display: inherit;
}
nav .nav-content{
	width: 1220px;
	margin: 0 auto;
}
nav .nav-content .logo-box {
	float: left;
	margin-left: 25px;
}
nav .nav-content ul {
	margin: 0;
	height: 80px;
	padding-left: 60px;
	list-style: none;
	text-align:center;
	float: left;
}
nav .nav-content ul>li>a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	color: #ffffff;
}
nav .nav-content ul>li {
	display: inline-block;
	vertical-align: top;
	padding: 30px 20px;
	height: 20px;
	transition: ease-out background-color 350ms;
}
nav .nav-content ul>li:last-child{
	padding: 15px 20px;
}
nav .nav-content ul>li:hover, nav .nav-content .itea:hover{
	background-color: #a50033;
}
nav .nav-content ul>li:last-child:hover{
	background-color: #bd003a;
}
nav .nav-content ul>li>.btn-resident{
	color: #bd003a;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 50px;
	padding: 15px;
    font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	width: 180px;
}
nav .nav-content .itea {
	float: left;
	margin-left: 80px;
	height: 20px;
	padding: 30px 20px;
}
nav .nav-content .itea a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	color: #ffffff;
}
/* END scroll menu*/
.about-us{
	width: 100%;
	height: 510px;
	text-align: center;
	padding-top: 105px;
}
.about-us>h1{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
}
.about-us>p{
	font-size: 20px;
	width: 38%;
	display: inline-block;
}
.rooms{
	position: relative;
	min-height: 560px;
}
.rooms .flex-container {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	  
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}

.rooms .flex-item {
	padding: 0px;
	margin: -2px;
	width: 50%;
}
.rooms .flex-item>img{
	width: 100%;
}
.rooms .flex-container .main-stick{
	position: absolute;
	width: 400px;
	height: 60px;
	background-color: #d60142;
	margin: auto;
	z-index: 10;
    left: 35%;
    top: 46%;
    text-align: center;
}
.rooms .flex-container .main-stick>p{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
	margin: 13px 0;
	font-weight: 300;

}
.rooms .flex-container .stick{
	position: absolute;
	width: 270px;
	height: 170px;
	background-color: rgba(214, 1, 66, 0.8);
	margin: auto;
	z-index: 10;
	top: 7%;
	left: 5%;
    text-align: center;
}
.rooms .flex-container .stick>p{
	font-size: 18px;
	color: #ffffff;
	margin: auto;
	padding: 25% 5%;
	font-weight: 100;
	text-align: center;

}

.mero{
	width: 100%;
	min-height: 680px;
	text-align: center;
	padding: 0 auto;
}
.mero>h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
	margin: 50px 0;
}
.mero .wrapper{
	transform: translateX(10%);
}
.before, .now, .after{
	float: left;
    min-height: 250px;
    width: 20%;
    padding: 0 50px;
}
/* TIMELINE */
.timeline>h2{
	color: #d60142;
	text-transform: uppercase;
	padding: 35px 0;
	font-size: 20px;
	text-align: left;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 0px;
  background: #d60142;
  font-weight: 600;
  right: 50%;
  transition: ease-out color 250ms;
}
.timeline ul li:last-child{
background: none;
}
.timeline ul li>div{
	width: 200px;
	padding-bottom: 30px;
    margin-left: 15px;
    position: relative;
    text-align: left;
}
.timeline ul li>div>time{
	color: #d60142;
	font-size: 30px;
	font-weight: 300;
	position: absolute;
	transform: translateY(-30%);
    right: 115%;
}
.timeline ul li:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d60142;
}
.timeline ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #d60142;
  background: #ffffff;
}
.before, .after, .before>h2, .after>h2,
.before ul li>div>time, .after ul li>div>time{
	color: #cccccc;
}
.before ul li, .after ul li {
  background: #cccccc;
}
.before ul li:hover::before, .after ul li:hover::before {
  background: #cccccc;
}
.before ul li::before, .after ul li::before {
  border: 2px solid #cccccc;
  background: #cccccc;
}
/* END TIMELINE */
/* flex-box two*/
.advantages{
	text-align: center;
	width: 100%
}
.advantages>h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
	margin: 60px 0;
}

.advantages .flex-advant {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.advantages .flex-advant .flex-box {
	padding: 10px;
	width: 270px;
	height: 220px;
	color: #989898;
	font-size: 14px;
	text-align: center;
}
.advantages .flex-advant .flex-box>img{
	margin: 40px;
}
.advantages .flex-advant .flex-box>p>span{
	font-weight: 500;
	color: #000000;
	padding-bottom: 10px;
	text-transform: uppercase;
	display: inline-block;
}
/* flex-box three*/
.blog{
	text-align: center;
	width: 100%
}
.blog>h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
	margin: 60px 0;
}
.blog .flex-blog {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.blog .flex-blog .flex-box {
	width: 300px;
	height: 300px;
	color: #989898;
	font-size: 12px;
	text-align: left;
	position: relative;
}
.blog .flex-blog .flex-box a{
	color: #000000;
	font-weight: 500;
	font-size:15px;
	text-decoration: none;
}
.blog .flex-blog .flex-box a>span{
	color: #989898;
	font-size: 12px;
}
.blog .flex-blog .flex-box a>p{
	margin-bottom: 5px;
	width: 265px;
	transition: ease-out box-shadow 250ms;
}
.blog .flex-blog .flex-box:hover a>p{
	position: absolute;
	vertical-align: bottom;
	top: -15px;
	color: #ffffff;
	height: 50px;
	padding-top: 150px;
	padding-left: 15px;
	box-shadow: inset 0px -50px 65px rgba(0,0,0,0.5);
}
.blog .flex-blog .flex-box:hover a>span{
	padding-left: 15px;
}
.blog .btn{
	margin: 45px auto;
	margin-bottom: 100px;
	width: 200px;
}
.blog .btn>a{
	color: #bd003a;
	border: 1px solid #bd003a;
	border-radius: 50px;
	padding: 15px;
    font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: ease-out background-color 350ms;
}
.blog .btn>a:hover{
	color: #ffffff;
	background-color: #bd003a;
	border-color: #bd003a;
}
/* flex-box four*/
.partners {
	text-align: center;
	width: 100%;
	min-height: 300px;
	background-color: #f1f1f1;
	margin-top: 30px;

}
.partners>h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
	padding: 50px 0;
	margin: 0;
}
.partners .flex-partners {
	padding: 0 15px;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
}
.partners .flex-partners .flex-box{
	margin: 5px;
	position: relative;
	width: 10%;
	min-height: 100px;
	vertical-align: center;
}
.partners .flex-partners .flex-box>img{
	position: absolute;
	left: 0;
	top: 0;
}
.partners .flex-partners .flex-box img.visible{
	opacity: 0;
}
.partners .flex-partners .flex-box:hover img.visible{
	opacity: 1;

}
.partners .flex-partners .flex-box:hover img.unvisible{
	opacity: 0;
	-moz-transition: all 3s ease;
	-webkit-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
/*FOOTER*/
footer{
	width: 100%;
	height: 100px;
	background-color: #373737;
	color: #ffffff;
	padding-top: 65px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

footer .btn{
	display: inline-block;
	width: 300px;
	margin: 0 auto;
}
footer .phone, footer .location{
	margin: 0 auto;
}
footer .btn>a{
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50px;
	padding: 15px;
    font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
footer .btn>a:hover{
	color: #373737;
	background-color: #ffffff;
	transition: ease-out background-color 350ms;
}
footer .phone>img, footer .location>img{
	display: inline-block;

}
footer .phone>p, footer .location>p{
	display: inline-block;
	font-weight: 400;
	margin-left: 15px;
}
/*parallax*/
#content {
	width: 100%;
	margin-bottom: 900px;
	background-color: #ffffff;
	box-shadow: 0 0 100px rgba(0,0,0,1)
}
.map, footer {
	position: fixed;
	z-index: -1;
	bottom: 0;
}